body,
html {
  font-family: 'Barlow Condensed', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  overflow: hidden;
}

.none {
  display: none !important;
}

/*SCROLLBAR STYLNG*/
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-thumb {
	background-color: #000;
}

/*SCROLLBAR STYLNG END*/

.flexRow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexCol {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: 85vh;
  width: 91vw;
  width: 100em;
}

.pointer {
  cursor: pointer;
  user-select: none;
}

.hidden {
  overflow: hidden;
}

.pageBody {
  align-items: flex-start;
  height: 77vh;
  position: relative;
  width: 100%;
}

.transitionLeft {
  transition: left 0.5s;
}

/*SIGN UP AND SIGN IN PAGE*/

.signUpPage {
  background-color: #fff;
  height: 100vh;
  left: 100%;
  min-width: 30em;
  position: absolute;
  transition: left 0.5s;
  width: 40%;
  z-index: 5;
}

.signFormPage {
  border-radius: 1em;
  height: 50em;
  justify-content: space-between;
  position: relative;
}

.signSelect {
  background-color: transparent;
  color: #000;
  height: 4em;
  margin: 5em 0;
  width: 20em;
}

.formLiner {
  height: 70%;
  justify-content: flex-start;
}

.signUpForm,
.signInForm {
  height: 80%;
  justify-content: space-between;
  margin-bottom: 3em;
}

.divLiner {
  height: 5em;
  width: 3em;
}

.signUpForm input,
.signInForm input {
  border: 0.01em solid #ed7d7d;
  border-radius: 0.2em;
  color: #ed7d7d;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5em;
  height: 2em;
  letter-spacing: 3px;
  outline: 0;
  outline-color: #ed7d7d;
  padding-left: 0.6em;
  width: 17em;
}

input::placeholder {
  color: #ed7d7d;
  letter-spacing: 3px;
  opacity: 0.4;
}

.submit {
  background-color: #ed7d7d;
  border-radius: 0.2em;
  /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);*/
  color: #fff;
  height: 3.8em;
  width: 27em;
}

.submit p {
  font-size: 1.8em;
}

.submit:focus {
  background-color: #56d39d;
}

.signUpBlock p,
.signInBlock p {
  font-size: 2em;
  font-weight: 100;
}

.signOption {
  background-color: #ed7d7d;
  border-radius: 0.2em;
  /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);*/
  color: #fff;
}

.signUpBlock,
.signInBlock {
  height: 100%;
  width: 50%;
}

.signFormMessage,
.checkoutFormMessage {
  display: none;
}

/*LANDING PAGE*/

.landingPage {
  color: #fff;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.homePageContainer {
  height: 80%;
  overflow: hidden;
  width: 69%;
}

.topHomePage {
  align-items: flex-end;
  height: 90%;
  position: relative;
  width: 100%;
}

.landingPageButtonSection {
  height: 5em;
  justify-content: flex-end;
  width: 100%;
}

.lpBtn {
  height: 5em;
  transition: height 0.25s, width 0.25s, background-color 0.5s;
  width: 12em;
  z-index: 2;
}

.lpBtn:hover,
.lpBtnHover {
  border: none;
  height: 8em;
  width: 14em;
}

.landingPageColorOne {

}

.landingPageColorTwo {
  left: 100%;
}

.landingPageColorOne,
.landingPageColorTwo {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bottomHomePage {
  height: 20%;
  width: 100%;
}

.homePageNav {
  height: 5em;
  justify-content: space-between;
  width: 100%;
}

.hamburgerMenu {
  background-image: url('../images/hamburger.png');
  background-size: 100% 100%;
  height: 2em;
  margin-left: 4em;
  width: 2em;
  z-index: 2;
}

.logInOrSignUp {
  justify-content: space-between;
  margin-right: 4em;
  width: 10em;
  z-index: 2;
}

.logInOrSignUp p {
  font-size: 1.4em;
}

.homeImg {
  left: -2em;
  position: absolute;
  top: -1em;
}

.homeImg img {
  height: 50em;
  opacity: 0.8;
  position: absolute;
  top: -2em;
}

.movingBox {
  background-color: transparent;
  border: 2em solid #444;
  height: 18em;
  left: 16em;
  opacity: 0.4;
  position: absolute;
  top: 10em;
  transform: rotateZ(0deg);
  transform-origin: top;
  transition: transform 0.75s;
  transition: opacity 0.75s;
  width: 14em;
}

.movingBoxStart {
  left: 22em;
  transform: rotateZ(-40deg);
}

.movingBoxIn {
  left: 16em;
  transform: rotateZ(0deg);
  transition: transform 1s, left 1s;
}

.movingBoxOut {
  left: 10em;
  transform: rotateZ(40deg);
  transition: transform 0.5s, left 0.5s;
  transition-timing-function: ease-in;
}

.movingBoxText {
  font-size: 10em;
  font-weight: 100;
  left: 2.6em;
  overflow: hidden;
  position: absolute;
  top: 0.6em;
  transition: height 0.5s;
  width: 10em;
}

/*NAVIGATION BAR*/

.navigationBar {
  align-items: flex-end;
  border-bottom: 0.1em solid #f1f1f1;
  height: 8vh;
  justify-content: space-between;
  width: 100%;
}

.navigationBar p {
  font-size: 1.3em;
  font-weight: 600;
  font-weight: 300;
  margin: 0 1em 0 1em;
  margin-bottom: 0.5em;
  transition: margin-bottom 0.5s;
}

.navigationBar p:first-child {
  margin-left: 3em;
}

.navHolder {}

.navOptions {}

.imgHolder {
  height: 2em;
  left: 89%;
  position: absolute;
  top: 10%;
  z-index: 6;
}

.imgHolder p {
  font-size: 0.8em;
  font-weight: 400;
  left: -3em;
  opacity: 0;
  position: relative;
  top: 1em;
  transition: opacity 0.5s;
  width: 10em;
}

.customize {
  height: 100%;
  margin-right: 2em;
}

.customizeDirector {
  background-color: #fff;
  border-radius: 50%;
  padding: 1em;
}

.point {
  height: 100%;
  left: -14.8em;
  position: relative;
  top: -3em;
  transform: rotateZ(180deg);
  transition: top 0.5s;
}

/**********SIDE BAR**********/

.sideBar {
  border-right: 0.1em solid #f1f1f1;
  font-size: 0.8em;
  height: 100%;
  justify-content: flex-end;
  overflow-x: hidden;
  width: 24em;
}

.sideBarLiner {
  height: 88%;
  margin-right: 2em;
  width: 80%;
}

.cart,
.categories,
.colors,
.sizes {
  align-items: flex-start;
}

.sideBarOption {
  margin-bottom: 2em;
}

.sideBarOption h1 {
  font-size: 2em;
  font-weight: 200;
}

/*CART*/

.cartItemHeading {
  justify-content: flex-start;
  margin-bottom: 1em;
}

.cartItemHeading img {
  margin: 0 1em;
  width: 2.4em;
}

.itemNumber {
  border-radius: 50%;
  height: 2.6em;
  width: 2.6em;
}

.itemNumber p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.cartItemsHolder {
  max-height: 19em;
  overflow-y: scroll;
  width: 100%;
}

.cartItem {
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
  position: relative;
  width: 100%;
}

.xBtn {
  left: 94%;
  position: absolute;
  top: -6%;
}

.xBtn p {
  font-size: 2em;
  margin: 0;
}

.cartItem img {
  background-color: #eee;
  height: 4em;
  width: 3.2em;
}

.cartItemDescriptionSection {
  width: 75%;
}

.cartItemDescription {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
}

.cartItemPrice {
  margin: 0;
}

/*ITEM SECTION TOP BAR*/
.itemTopBar {
  height: 6em;
  justify-content: flex-end;
  width: 100%;
}

.viewLabel {
  font-size: 1.4em;
  font-weight: 100;
}

.toggleViewBtn {
  height: 2rem;
  margin: 0 1em;
  width: 2rem;
}

.largeViewBtn,
.smallViewBtn {
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.lvBox {
  background-color: #000;
  height: 45%;
  width: 45%;
}

.svBox {
  background-color: #000;
  height: 90%;
  width: 45%;
}


/*ITEM SECTION REDO*/
.productContainer {
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  -moz-transition: width 0.5s, -moz-box-shadow 0.4s;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  -webkit-transition: width 0.5s, -webkit-box-shadow 0.4s;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
  height: 26em;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  transition: width 0.5s, box-shadow 0.4s;
  transition-timing-function: linear;
  width: 18em;
}

.removeItem {
  opacity: 0;
  position: absolute;
}

/*.productContainer:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}*/

.productImgHolder,
.productDescriptionHolder,
.hoverDescription,
.hoverButtons,
.cartImgHolder {
  left: 0;
  position: absolute;
  top: 0;
}

.cartImgHolder {
  z-index: -1;
}

.productDescriptionHolder {
  z-index: 0;
}

.productImgHolder {
  z-index: 1;
}

.hoverClearBox {
  z-index: 2;
}

.hoverButtons {
  padding-top: 2.8em;
  z-index: 3;
}

.hoverDescription {
  z-index: 4;
}

.behindImg {
  z-index: -10;
}

.productDescriptionHolder {
  background-color: #fff;
  left: 18em;
  transition: left 0.5s;
}

.hoverDescription {
  background-color: #fff;
  top: 84%;
  transform: rotateY(0deg);
  transition: top 0.1s, transform 0.25s;
}

.showDescripton {
  top: 50%;
}

.productImgHolder,
.hoverDescription,
.hoverButtons,
.hoverClearBox,
.cartImgHolder {
  height: 26em;
  width: 18em;
}

.productImgHolder img {
  height: 100%;
  width: 100%;
}

.cartImgHolder img {
  height: 100%;
  width: 100%;
}

.productDescriptionHolder {
  height: 26em;
  width: 36em;
}

.productDescriptionSide {
  height: 100%;
  width: 50%;
}

.productDescriptionSide div h2 {
  margin-left: 2rem;
}

.productDescriptionSideChild {
  height: 20%;
  width: 100%;
}

.productDescriptionTitle,
.productDescriptionPrice {
  justify-content: flex-start;
}

.pdtitle {
  font-size: 2.2em;
  font-weight: 200;
}

.pdprice {
  color: #ea6262;
  font-size: 2.4em;
  font-weight: 100;
}

.pddesciption {
  font-weight: 300;
}

.productDescriptionButton {
  border: 0.01em solid #000;
  font-weight: 200;
  height: 3em;
  width: 12em;
}

.productDescriptionButton p {
  font-size: 1.6em;
  margin: 0;
}

.productDescriptionButton:hover {
  border-color: #ea6262;
  color: #ea6262;
}

.productDescriptionTitle {

}

.hoverDescription,
.hoverButtons {
  align-items: flex-start;
}

.hoverDescriptionText {
  height: 50%;
  width: 100%;
}

.hoverDescriptionTextTop {
  height: 33.33%;
  justify-content: space-between;
}

.hoverDescriptionTextTop p {
  font-size: 1.4em;
  margin: 0 1em;
}

.hoverDescriptionTextBottom p {
  font-size: 1.2em;
  margin: 0 1em;
}

.hoverButtons {

}

.hoverBtnHolder {
  height: 16%;
  width: 100%;
}

.hoverBtn {
  border: 0.01em solid #fff;
  color: #fff;
  font-weight: 100;
  height: 3em;
  width: 10em;
}

.hoverBtn:hover {
  background-color: #fff;
  color: #ea6262;
}

.hoverBtn p {
  font-size: 1.8em;
}

.hoverClearBox {
  background-color: #e01f1f;
  opacity: 0.5;
}

.productImgHolder {
  transform: rotateY(0deg);
  transition: transform 0.25s;
}

.cartImgHolder {
  transition: transform 0.25s;
}

.rotate90 {
  transform: rotateY(-90deg);
}

.movingImg {
  z-index: 10;
}
/*CATEGORIES*/

.categoriesFilter {
  justify-content: flex-start;
  margin: 0.5em 0;
  width: 100%;
}

.checkBox {
  border: 2px solid #ddd;
  height: 1em;
  margin-right: 1em;
  width: 1em;
}

.filterText {
  color: #777;
  font-size: 1.2em;
}

/*COLORS AND SIDE BAR*/

.colors,
.sizes {
  width: 110%;
}

.colors h1,
.sizes h1 {
  margin-bottom: 1.2em;
}

.colorSection,
.sideBarSection {
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.sideBarSection {
  align-items: flex-start;
}

.colorStrip,
.sideBarStrip {
  height: 2em;
  justify-content: flex-start;
  margin-bottom: 1.2em;
  width: 50%;
}

.colorCircle {
  border: 4px solid transparent;
  border-radius: 100%;
  height: 1.2em;
  margin-right: 0.5em;
  width: 1.2em;
}

/*ITEM SECTION*/
.cartItemsHolder::-webkit-scrollbar {
	width: 4px;
}

.itemSection::-webkit-scrollbar {
	width: 4px;
}

.sideBar::-webkit-scrollbar {
	width: 0px;
}

/*::-webkit-scrollbar              {background-color: blue;}*/
/*::-webkit-scrollbar-button       {background-color: blue;}*/
/*::-webkit-scrollbar-track        {background-color: blue;}*/
/*::-webkit-scrollbar-track-piece  {background-color: blue;}*/
/*::-webkit-scrollbar-thumb        {background-color: blue;}*/
/*::-webkit-scrollbar-corner       {background-color: blue;}*/
/*::-webkit-resizer                {background-color: blue;}*/

.itemSection {
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  overflow: scroll;
  padding-left: 1em;
  width: 78em;
}

.fixContent {
  height: 32em;
}

.checkoutSection {
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

.cartBagContent,
.personalInformationForm,
.cardCheckOut {
  height: 45em;
  width: 33%;
}

.personalInformationForm {
  border-left: 0.1em solid #fce9e9;
  border-right: 0.1em solid #fce9e9;
}

.cartForms {
  text-transform: uppercase;
}

.options {
  left: 100vw;
  position: relative;
}

.options .details {
  margin-top: 0.5em;
}

.clickIt {
  position: relative;
}

.details {
  height: 7em;
}

.shoppingCartBigView {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 20;
}

.shadedArea {
  background-color: #444;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bigView {
  z-index: 2;
}

.galleryImgSection {
  background-color: #fff;
  height: 90%;
  width: 48em;
}

.galleryImgSection img {
  height: 98%;
  max-width: 90%;
}

.galleryOptions {
  height: 10em;
  left: 86.6%;
  position: absolute;
  top: 16%;
  width: 9em;
}

.itemGallery {
  height: 90%;
  justify-content: space-around;
  width: 100%;
}

.bigViewItemSection {
  height: 52em;
  width: 36em;
}

.bigViewItemSection img {
  height: 100%;
}

.smallViewItemSection {
  height: 100%;
  justify-content: space-around;
  width: 14em;
}

.smallViemItem {
  height: 16em;
  width: 14em;
}

.smallViemItem img {
  height: 99%;
  width: 10em;
}

.xBtnGalleryView,
.addCartBtnGalleryView {
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  height: 4em;
  margin-bottom: 0.6em;
  width: 4em;
}

.xBtnGalleryView:hover,
.addCartBtnGalleryView:hover {
  opacity: 1;
}

.xBtnGalleryView p {
  font-size: 4em;
  line-height: 0;
  margin: 0;
  position: relative;
  top: -4px;
}

.addCartBtnGalleryView img {
  width: 2.4em;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

.shoppingCart {
  z-index: 2;
}

.creditCard {
  border-radius: 2em;
  /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 40px 9px rgba(0,0,0,0.1);
  box-shadow: 0px 70px 68px 0px rgba(0,0,0,0.1);*/
  height: 20em;
  width: 40em;
}

 .cartForm {
   width: 30em;
 }

.StripeElement {
  background-color: white;
  background-color: transparent;
  border: 0.01em solid #ed7d7d;
  border-bottom: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  box-shadow: none;
  height: 40px;
  padding: 10px 12px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.shoppingCartConatiner {
  height: 100vh;
  width: 100vw;
}

.shoppingCartForm {
  color: #ec7979;
  width: 36em;
}

.shoppingCartBtn {
  background-color: #ed7d7d;
  border: none;
  border-radius: 0.2em;
  color: #fff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
  height: 3.8em;
  outline: 0;
  width: 27em
}

.shoppingCartBtn p {
  font-size: 1.8em;
  margin: 0;
}


label {
  left: 1em;
  position: relative;
  top: -1em;
}

.creditCard {
  align-items: flex-end;
}

.cardInfo {
  width: 100%;
}

.cartForm {
  height: 10em;
  width: 100%;
}


/*SHOPPING CART*/

.reviewText {
  justify-content: space-around;
  width: 100%;
}

.reviewText p {
  font-size: 2em;
}

#total {
  font-size: 2em;
  letter-spacing: 3px;
}

.reviewItems {
  height: 36em;
  justify-content: flex-end;
  overflow: scroll;
}

.itemToReview {
  height: 12em;
  margin-bottom: 1em;
  width: 100%;
}

.reviewImg {
  height: 12em;
  width: 12em;
}

.reviewImg img {
  height: 96%;
}

.reviewPrice {
  height: 10em;
  width: 10em;
}

.reviewPrice p {
  font-size: 3em;
}

.reviewQuantity {
  height: 10em;
  width: 10em;
}

.quantityChange {
  justify-content: space-between;
  width: 7em;
}

.increment,
.decrement {
  border: 0.01em solid #ed7d7d;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

.increment:hover,
.decrement:hover {
  background-color: #ed7d7d;
  color: #fff;
  border-color: #fff;
}

.quantityNumber p,
.increment p,
.decrement p {
  font-size: 2em;
}


/*CHECKOUT PAGE*/

.shoppingCartContainer {
  height: 100vh;
  width: 68em;
}

.shoppingCartLeftSide,
.shoppingCartRightSide {
  height: 100vh;
  width: 50%;
}

.creditCardComponents {
  height: 50%;
  width: 100%;
}

#creditCard {
  background-color: #222;
  border-radius: 1em;
  color: #fff;
  flex-direction: column;
  font-family: sans-serif;
  height: 17.2em;
  position: relative;
  width: 27.4em;
}

#creditCardTop,
#creditCardBottom {
  position: absolute;
}

#creditCardTop {
  top: 0;
}

#creditCardBottom {
  top: 50%;
}

#creditCardTop p {
  font-size: 2.6em;
  margin: 1em;
}

#creditCardBottom {
  align-items: space-between;
  flex-direction: column;
  justify-content: flex-start;
}

#cardNumbers {
  align-items: flex-start;
  justify-content: space-around;
  width: 80%;
}

#creditCardBottom span {
  font-size: 2em;
}

#creditCardBottomInfo {
  align-items: flex-end;
  height: 80%;
  justify-content: space-between;
  width: 60%;
}

#creditCardBottomInfo .creditCardName {
  font-size: 1.2em;
}

#shadow {
  background-color: #222;
  border-radius: 1em;
  filter: blur(8px);
  flex-direction: column;
  height: 1em;
  margin-top: 8em;
  width: 20em;
}
